table {
    border-collapse: collapse; /* Ensures no spacing between borders */
    border: none; /* Removes table border */
    width: 100%; /* Ensures full width */
    margin-top: 100px;
}

table tr th {
    background-color: white;
    font-weight: bold;
}

