 /* .faculty-container {
  margin: 97px 120px;
  direction: rtl;
  text-align: center;
}


.title {
    color: #9C1C27;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -2%;
    margin-top: 97px;
    height: 34px;
    text-shadow: 0 2px 2px rgba(23, 109, 106, 0.5);
}

.button-and-table {
  width: 1200px;
  position: relative;
  display: flex;
  gap: 40px;
}
.add-btn {
  background: none;
  color:  rgba(156, 28, 39, 0.3);
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  position: absolute;
    left: 0;
    top: 0;

}

table {
  width: 1200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
}

table thead tr th {
  background: var(--primary, #176D6A);
  height: 53px;
    color: white;
} 
table tbody tr {
  width: 400px;
  height: 51px;
  color:#176D6A;
  font-weight: 400;
  border-bottom: 0.3px rgba(23, 109, 106, 0.5) solid;
}
.icon-action {
  width: 24px;
  height: 24px;
  margin: 12px 15px;
  cursor: pointer;
}
table tbody tr:third-child {
  display: flex;
  gap: 24px;
}

tbody tr td:nth(2) {
  display: flex;
  justify-content: center;
}
 */
