
body {

  direction: rtl;

}

img{
  max-width: 100%;
}

.imgl {
  width: 220px;
  float: left;
}

.imgr {
  width: 150px;
  float: right;
}


  

header{

  overflow: hidden

}

/* nav {

  border-top: 10px solid #548dd4;
margin-top: 10px;
} */




ul {


  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* border: 1px solid #fff; */
  background-color: transparent;
}

li {
  padding-top: 2px;
  float: right;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #fac08f;
}

li a.active {
  color: #548dd4;
  /* background-color: #548dd4; */
}

body{

  font-family: 'Tajawal';
}

/* arabic google font */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Iura6YBj_oCad4k1nzSBC45I.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EFD-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin */
@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Iura6YBj_oCad4k1nzGBCw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

video {
  height: 100vh;
  width: 100%;
  object-fit: fill; 
  position: absolute;

}

.cover {
  position: relative;
  display: block;
  width: 100%;
  height: 10px;
  overflow: hidden;
  
}
.cover.invert {
  transform: rotateX(180deg) translateY(30px);
}

.circle {
  opacity: 0.3;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.circle:after {
  content: '';
  display: block;
  border-radius: 50%;
  background: radial-gradient(ellipse at center, #548dd4  0%, rgba(0, 0, 0, 0) 70%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%) scaleY(0.02) scaleX(1.05);
  z-index: 1;
}

header{

  padding: 15px 0px; 
}

.box{
  padding: 20px 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.dt-column-title{
text-align: right;

}
th {
  text-align: right !important;
}


.btn-secondary{
  
  border-radius: 0px;
  background-color: #ffffff;
  color: #000000;
  justify-content: right;
border-color: #bbc1c5;
}

.me-auto{

margin-right: 0px !important;

}

.ms-auto{

  margin-left: 0px !important;

}

.mt-2{

  margin-top: 30px !important;
}


div.dt-container div.dt-search label {

padding-left: 10px;
border-radius: 0px;

}

.dt-paging-button{

  border-radius: 0px;
}

.page-item:first-child .page-link {

  border-radius: 0px 5px 5px 0px !important;
}

.page-item:last-child .page-link{

  border-radius: 5px 0px 0px 5px;
}

.page-link {

border-color: #bbc1c5;
}

div.dt-buttons div.dropdown-menu .dt-button {

  text-align: right;

}

.pagination{

  padding: 0px 1px;
}

div.dt-button-collection .dt-button-active:after {

right: 10px;
}
