@import "tailwindcss";


#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  
}
<<<<<<< HEAD

=======
>>>>>>> f5a9309e7551d725748e92fc4ce22b73c4a14e99

body {
  direction: rtl;
 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


