@import "tailwindcss";

<<<<<<< HEAD

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
 /* font-family: 'Cairo', sans-serif; */
} 

=======
>>>>>>> f5a9309e7551d725748e92fc4ce22b73c4a14e99
